numpy
scipy
matplotlib
tqdm
astropy

jax==0.4.28
jaxlib==0.4.28+cuda12.cudnn89 -f https://storage.googleapis.com/jax-releases/jax_cuda_releases.html

distrax @ git+https://github.com/google-deepmind/distrax
blackjax @ git+https://github.com/handley-lab/blackjax@nested_sampling

anesthetic
